<img src="./../images/timer.gif" height="80px" width="80px">
<div>Too many request</div>
<div>Try after some time</div>
<style>
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
</style>