<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layout/header") %> 
</head>
<body>
    <div class="offline" style="display: none; background: orange;padding: 2px;width: 100%;text-align: center;position: fixed;top: 0; z-index:1000; font-size: 0.7rem"></div>
    <div class="container">
        <form action="/chat" method="post" autocomplete="off" id="form" onsubmit="return check();">
            <div class="form-1" style="display: block;">
                <div class="form-field">
                    <div class="h3">Create Chat <img src="/images/pokeball.png" alt="" srcset=""></div>
                    <div id="error-callback"></div>
                </div>
                <div class="form-field">
                    <label for="key" id="key-label">Tap to Copy <i class="fa-regular fa-clone"></i></label>
                    <input type="text" name="key" class="copy-key" id="key" value="<%=key_%> " readonly>
                </div>
                <div class="form-field">
                    <input type="button" value="Next" id="next">
                </div>
                            <div class="create-chat">
                <fieldset class="line">
                    <legend class="h1">Or</legend>
                    <a id="create" href="/login">Join chat</a>
                </fieldset>
            </div>
            </div>
            <div class="form-2" style="display: none;">
                <div class="form-field">
                    <label for="name"  id="name-label">Choose username</label>
                    <input type="text" name="name" id="name" maxlength="20" placeholder="Username">
                </div>
                <div class="form-field">
                    <%- include("layout/avatars") %> 
                </div>
                <div class="form-field">
                    <label for="max-user">Select max user (<span id="rangeValue">2</span>)</label>
                    <input type="range" id="maxuser" name="maxuser" max="15" min="2" value="2">
                </div>
                <div class="form-field">
                    <input type="submit" value="Create" id="join">
                </div>
            </div>
        </form>
    </div>
    <%- include("layout/footer") %> 
    <script defer src="/js/src/create.min.js"></script>
</body>
</html>
