@font-face {
  font-family: 'Comforter';
  src: url("./../fonts/Comforter-Regular.ttf");
}

@font-face {
  font-family: 'Now';
  src: url('./../fonts/Now-Regular.otf');
}



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #fefefd;
  overflow: hidden;
  font-family: Montserat;
}
.text{
  font-family: Comforter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2{
  font-size: 30px;
  position: absolute;
  color: #000;
}
h1{
  font-size: 150px;
  position: absolute;
  color: #5ecdfb;
}

a{
  text-decoration: none;
  color: #000;
  border: 2px solid;
  font-family: Now;
  position: relative;
  top: 50px;
  padding: 10px;
}
a:hover{
  cursor: pointer;
}

img{
  height: 50vw;
}

@media (orientation: landscape) and (min-device-aspect-ratio: 1/1) {
img{
  height: 50vh;
}
}