@font-face {
  font-family: 'Comic';
  src: url("./../fonts/font.woff");
}

:root {
  --blue: #6aa4db;
  --hoverblue: #0575e6;
  --background: #111d2a;
  --foreground: #ffffff;
  --background-light: #ffffff17;
  --topbarsize: 50px;
  --app-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Comic;
  font-weight: 300;
  caret-color: var(--blue);
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html {
  height: -webkit-fill-available;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--background);
  background-size: contain;
  color: var(--foreground);
  height: var(--app-height);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.form2 {
  border-bottom: 2px solid var(--background-light);
  border-top: 2px solid var(--background-light);
  padding: 5px 0 5px 0;
}

.h3 {
  text-align: center;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 5px;
}

#login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background: var(--background-light);
  gap: 10px;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--app-height);
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--background);
  padding-top: 20px;
}

#form {
  background: var(--background-light);
  padding: 10px;
  border-radius: 10px;
  min-width: 280px;
}

.form-field {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
}

.form-field input,
.form-field select {
  border: 2px solid var(--blue);
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  color: white;
  min-height: 44px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid var(--blue);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 150px;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow: scroll;
}

.avatars img {
  width: 40px;
  height: 40px;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.avatars img:hover {
  cursor: pointer;
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label img {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

#error-callback {
  font-size: 0.7rem;
  color: orangered;
  width: 100%;
  word-wrap: break-word;
  padding-top: 10px;
}

.popup-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background: #00000072;
  padding: 10px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  font-size: 0.6rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
}

.copy-key {
  border: none !important;
  outline: none !important;
  background: var(--background-light) !important;
  text-align: center !important;
}

.copy-key:hover {
  cursor: pointer;
}

input[type='text'], input[type='number'] {
  border: 2px solid var(--blue);
  outline: none;
  -webkit-transition: 200ms;
  transition: 200ms;
}

input[type='text']:focus, input[type='number']:focus {
  border: 2px solid var(--hoverblue);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input[type='button'], input[type='submit'] {
  -webkit-transition: 200ms;
  transition: 200ms;
  background: var(--blue);
}

input[type='button']:hover, input[type='submit']:hover {
  cursor: pointer;
  background: var(--hoverblue);
  border: 2px solid var(--hoverblue);
}

input[type='button']:focus, input[type='submit']:focus {
  outline: none;
  border: none;
}

.howtouse {
  width: 100vw;
  padding: 30px;
  text-align: justify;
  font-size: 0.7rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.howtouse ul {
  list-style-type: disc;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid var(--background-light);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  color: #bababa;
}

.line .h1 {
  font-size: 1rem;
  padding: 5px;
  text-align: center;
}

#create {
  text-align: center;
  color: var(--blue);
}

.footer {
  font-size: 0.6rem;
  color: #bababa;
  padding: 10px;
}
/*# sourceMappingURL=index.css.map */
