@font-face {
  font-family: 'Comforter';
  src: url("./../fonts/Comforter-Regular.ttf");
}

@font-face {
  font-family: 'Now';
  src: url("./../fonts/Now-Regular.otf");
}

@font-face {
  font-family: 'James';
  src: url("./../fonts/James.ttf");
}

@font-face {
  font-family: 'Comic';
  src: url("./../fonts/comic.ttf");
}

:root {
  --secondary: #6aa4db;
  --hoverblue: #0575e6;
  --primary: #111d2a;
  --foreground: #ffffff;
  --focus: #ffffff17;
  --topbarsize: 50px;
  --app-height: 100vh;
  --pattern-image: url("./../images/avatars/ball\(custom\).png");
}

html {
  height: -webkit-fill-available;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--primary);
  background-size: contain;
  color: var(--foreground);
  height: var(--app-height);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overscroll-behavior-y: contain;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.intro h2 {
  font-size: 1.5rem;
  font-family: 'Comforter';
  text-align: center;
}

.intro .credit {
  font-size: 0.7rem;
}

.wrapper {
  margin: 1em 0;
}

a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 0.7rem;
}

h3 {
  margin: 0px 90px 0px 0px;
  color: var(--secondary);
}

.send {
  background: transparent;
}

.send:hover {
  background: transparent;
}

button,
button:hover {
  border: none;
  color: white;
  font-size: 0.8rem;
}

.chat__messages ul {
  list-style-type: none;
}

.chat__messages ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__sidebar ul {
  list-style-type: none;
  border-top: 2px solid var(--focus);
  margin: 5px;
  overflow-y: scroll;
}

.chat__sidebar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 900;
  gap: 5px;
  overflow-x: scroll;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Comic;
  font-weight: 300;
  caret-color: var(--secondary);
}

li,
ul {
  list-style-position: inside;
}

h3 {
  text-align: center;
  font-size: 0.7rem;
  color: var(--secondary);
}

button {
  background: var(--secondary);
  cursor: pointer;
  -webkit-transition: background 200ms ease;
  transition: background 200ms ease;
  border-radius: 10px;
}

button:hover {
  background: var(--secondary);
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  height: var(--app-height);
}

.chat__sidebar {
  overflow-y: scroll;
  width: 260px;
  height: var(--app-height);
  border-right: 2px solid var(--focus);
}

.chat__sidebar ol {
  list-style-type: none;
}

.users {
  overflow: scroll;
}

.chat__sidebar li {
  padding: 7px 0 5px 0;
  color: white;
  font-size: 0.7rem;
  margin: 5px;
}

.chat__sidebar h3 {
  color: white;
  margin: 10px 20px;
  text-align: left;
  color: var(--secondary);
  font-size: 0.9rem;
  text-align: center;
}

.chat__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: var(--primary) var(--pattern-image) center;
  background-attachment: fixed;
}

#send-location:hover {
  cursor: pointer;
}

.upload_image {
  position: relative;
}

input[type=file] {
  display: none;
}

.previewimage {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: #192431;
  z-index: 100;
}

.previewimage .previewimage__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.previewimage .previewimage__image img {
  max-height: 34vh;
  max-width: 50vw;
  overflow: hidden;
  border-radius: 10px;
}

.previewimage .previewimage__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  color: orangered;
}

.previewimage .sendimage {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  color: var(--secondary);
}

.sent {
  font-size: 0.6rem;
  color: var(--secondary);
}

.imageMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageMessage:hover, .textMessage:hover {
  cursor: pointer;
}

.fa-paper-plane, .fa-location-crosshairs, .fa-image {
  font-size: 1.3rem;
  padding: 5px;
  color: var(--secondary);
  cursor: pointer;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  gap: 5px;
}

.image__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.image__body .image__title {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
}

.image__body .main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.my__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  gap: 5px;
}

.image-message {
  max-width: 50vw;
  border-radius: 10px;
  max-height: 300px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.lightbox .tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  font-size: 2rem;
  padding: 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 110;
  position: relative;
}

.lightbox .tool .lightbox__close {
  color: orangered;
}

.lightbox .tool .lightbox__close:hover {
  cursor: pointer;
}

.lightbox .tool .lightbox__save {
  color: white;
}

.lightbox .tool .lightbox__save:hover {
  cursor: pointer;
}

.lightbox .lightbox__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
  top: 0;
}

.lightbox .lightbox__image img {
  max-height: 80vh;
  max-width: 90vw;
  overflow: hidden;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location__message__title {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  background: black;
  mix-blend-mode: screen;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.server__message {
  text-align: center;
}

.server__message__body {
  padding-bottom: 10px;
  font-size: 0.7rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.menu {
  display: block;
  color: limegreen;
  font-size: 0.9rem;
}

.menu:hover {
  cursor: pointer;
}

.menuwrapper {
  position: fixed;
  top: 0;
  left: -100%;
  background: rgba(0, 0, 0, 0.254);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 60%;
  -webkit-transition: 200ms;
  transition: 200ms;
  z-index: 11;
}

.menuwrapper .chat__sidebar {
  width: 100%;
  border: none;
}

.menuwrapper.active {
  left: 0;
}

.time {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.6rem;
  text-align: center;
  color: gray;
  padding: 10px 10px 0px 10px;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: var(--topbarsize);
  width: 100%;
  background: transparent;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topbar .topbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 10px;
  width: 100%;
}

.menuwrapper2 {
  display: none;
}

#typingindicator {
  list-style-type: none;
  color: grey;
  font-size: 0.7rem;
  padding: 0 0 5px 10px;
}

#typingindicator li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
}

#sendlocation {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#retlocation {
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 40px;
  width: 40px;
}

#retlocflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#messages {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  scroll-behavior: smooth;
  list-style-type: none;
  margin-top: 65px;
  gap: 2px;
}

#messages .message, #messages .my__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  gap: 5px;
}

#messages .message .textMessage, #messages .my__message .textMessage {
  position: relative;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  /*&:hover::after{
          content: url('./../images/reply.png');
          position: absolute;
          top: 0px;
          left: -50px;
          display: flex;
          border-radius: 25px;
          color: silver;
          z-index: 150;
          opacity: 1;
          text-align: left;
          flex-direction: row;
          height: 100%;
          width: 62px;
          transition: 200ms;
          white-space: pre;
          align-content: center;
          justify-content: center;
          align-items: flex-start;
          &:hover{
            cursor: pointer;
          }
        }*/
}

#messages .message .textMessage a, #messages .my__message .textMessage a {
  text-decoration: underline;
  color: white;
  display: inherit;
}

#messages .message .textMessage a:hover, #messages .my__message .textMessage a:hover {
  cursor: pointer;
}

#messages .message .message__body, #messages .my__message .message__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#messages .message .textMessage {
  background: #26313d;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 0.7rem;
}

#messages .message .textMessage:hover::after {
  left: 90%;
}

#messages .my__message .textMessage {
  background: var(--secondary);
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 0.7rem;
}

#messages .main-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
  gap: 5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#messages .replyMessage {
  padding: 10px 15px 25px 10px;
  font-size: 0.7rem;
  background: #3f5266;
  border-radius: 15px 15px 15px 0px;
  z-index: 1;
}

#messages .replyMessage:hover {
  cursor: pointer;
}

#messages .replyMessage, #messages .title {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

#messages .replyMessage.active, #messages .title.active {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

#messages .my-reply-message {
  border-radius: 15px 15px 0px 15px;
  position: relative;
  right: 15px;
}

#messages .my__message {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#messages .my__message__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#messages .my__message__body .title h3 {
  width: 100%;
  text-align: right;
}

#messages .title h3 {
  font-size: 0.7rem;
}

#messages .message__title h3 {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
}

#messages .my__message__title h3 {
  width: 100%;
  text-align: right;
  position: relative;
  right: 15px;
}

#messages .textMessage, #messages .replyMessage {
  max-width: 50vw;
  text-align: justify;
  word-wrap: break-word;
}

.popup-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  background: #00000072;
  padding: 10px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  font-size: 0.6rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
}

.key:hover {
  cursor: pointer;
}

.chat__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.chat__footer #message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 10px;
  background: transparent;
}

.chat__footer #message-form #textbox {
  max-height: 100px;
  max-height: 100px;
  border-radius: 25px;
  padding: 5px 35px;
  outline: none;
  resize: none;
  background: var(--focus);
  border: none;
  margin: 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
  color: white;
  width: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.chat__footer #message-form #textbox:focus {
  outline: none;
}

.maxuser {
  font-size: 0.7rem;
  position: relative;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: var(--secondary);
}

.info {
  margin: 0;
  padding: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-family: Now;
  font-size: 1rem;
  font-weight: 900;
  color: grey;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.info:hover {
  cursor: pointer;
  color: white;
}

.info:hover::after {
  content: 'PokeTab Messanger \A Version: 4.0.2 \A Developer: Fuad Hasan \A Email: fuad.cs22@gmail.com \A Icons: flaticon.com';
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-5%, 120%);
          transform: translate(-5%, 120%);
  background: var(--focus);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 15px;
  border-radius: 5px;
  color: white;
  background: #0b1926c7;
  font-size: 0.7rem;
  font-weight: 900;
  z-index: 10;
  opacity: 1;
  text-align: left;
  width: 150px;
  -webkit-transition: 200ms;
  transition: 200ms;
  white-space: pre;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.toast-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: var(--focus);
  border-radius: 10px 10px 0 0;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.toast-popup .toast-popup-replying-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toast-popup .toast-popup-replying-to .toast-popup-name {
  color: var(--secondary);
}

.toast-popup .toast-popup-replying-to .toast-popup-message {
  font-size: 0.7rem;
}

.toast-popup .toast-popup-close {
  color: orangered;
  font-weight: 100;
  position: absolute;
  right: 10px;
}

.toast-popup .toast-popup-close:hover {
  cursor: pointer;
}

@media (orientation: landscape) and (min-device-aspect-ratio: 1 / 1) {
  .chat {
    padding-top: 0;
  }
  .menu {
    display: none;
  }
  .keyname {
    display: none;
  }
  .menuwrapper {
    display: none;
  }
  .info {
    position: absolute;
    top: 10px;
    right: 0;
    margin: 10px;
  }
  .menuwrapper2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    background: var(--primary);
    width: 30vw;
  }
  .menuwrapper2 .chat__sidebar {
    width: 25vw;
    border-right: 2px solid var(--focus);
  }
  .topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .topbar .topbar-wrapper {
    background: transparent;
  }
  .chat__main {
    position: relative;
  }
  #messages .textMessage, #messages .replyMessage {
    max-width: 30vw;
  }
  #messages .image-message {
    max-width: 30vw;
  }
  .lightbox .lightbox__image img {
    max-width: 40vw;
  }
}
/*# sourceMappingURL=styles.css.map */