@font-face {
  font-family: 'Comforter';
  src: url("./../fonts/Comforter-Regular.ttf");
}

@font-face {
  font-family: 'Now';
  src: url('./../fonts/Now-Regular.otf');
}

:root{
  --blue: #6aa4db;
  --hoverblue: #0575e6;
  --background: #111d2a;
  --foreground: #ffffff;
  --background-light: #ffffff17;
  --topbarsize: 50px;
}




body {
  background: var(--background);
  color: var(--foreground);
}

h1:before {
  content: "// ";
}

.wrapper {
  margin: 1em 0;
}

a{
  color: var(--blue);
  text-decoration: none;
  font-size: 0.9rem;
}



h3 {
  margin: 0px 90px 0px 0px;
  color: var(--blue);
}

.send{
  background: transparent;
  &:hover{
    background: transparent;
  }
}

button,
button:hover {
  border: none;
  color: white;
  padding: 10px;
  font-size: 0.8rem;
}

.chat__messages,
.chat__sidebar ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Now;
  font-weight: 300;
  font-size: .95rem;
}

li,
ul {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.3rem;
  color: var(--blue);
}

button {
  background: var(--blue);
  cursor: pointer;
  transition: background .3s ease;
  border-radius: 10px;
}

button:hover {
  background: var(--blue);
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: var(--background);
}

.centered-form__form {
  background: var(--background-light);
  border-radius: 5px;
  padding: 0 20px;
  margin: 20px;
  width: 230px;
}

.form-field {
  margin: 20px 0;
}

.form-field>* {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
}

.form-field input,
.form-field select {
  border: 2px solid var(--blue);
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  color: white;
}

.chat {
  display: flex;
  width: 100%;
  height: 100%;
}

.chat__sidebar {
  overflow-y: scroll;
  width: 260px;
  height: 100vh;
  //background:  linear-gradient( -212deg, rgb(189, 218, 230), rgb(0, 102, 255));
  outline: 2px solid var(--background-light);

}

.chat__sidebar li {
  background: var(--background-light);
  padding: 10px;
  color: white;
}

.chat__sidebar h3 {
  color: white;
  margin: 10px 20px;
  text-align: left;
  color: var(--blue);
}

.chat__sidebar li {
  border-radius: 5px;
  margin: 10px;
}

.chat__main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea:focus, input:focus{
  outline: 2px solid var(--blue);
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}

.chat__footer {
  display: flex;
  flex-shrink: 0;
  margin: 10px;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
  background: var(--background-light);
  border-radius: 10px;
  color: white;
}


#send-location{
  &:hover{
    cursor: pointer;
  }
}


.message {
  padding: 10px;
}

.message__title {
  display: flex;
  margin-bottom: 5px;
  align-items: baseline;
}

.message__title h4 {
  font-weight: 600;
  margin-right: 10px;
}

.message__title span {
  color: #999;
  font-size: 0.7rem;
}




/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

footer{
  position: absolute;
  bottom: 10px;
  text-align: justify;
}


.menu{
  display: block;
  &:hover{
    cursor: pointer;
  }
}

.menuwrapper{
  position: fixed;
  top: 0;
  left: -100%;
  background: rgba(0, 0, 0, 0.254);
  backdrop-filter: blur(10px);
  width: 60%;
  transition: 300ms;
  z-index: 11;

  .chat__sidebar{
    width: 100%;
    outline: none;
  }
  &.active{
    left: 0;
  }
}

.topbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topbarsize);
  width: 100%;
  background: var(--background-light);
  color: #2fff80;
  z-index: 10;
  padding: 10px;
}

.location{
  color: var(--blue);
  font-weight: 900;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menuwrapper2{
  display: none;
}

.text{
  display: none;
}

.location{
  img{
    height: 40px;
    width: 40px;
  }
}


@media (orientation: landscape) and (min-device-aspect-ratio: 1/1) {
  * {
    font-size: 1rem;
  }

  .menu{
    display: none;
  }
  .menuwrapper{
    display: none;
  }
  .menuwrapper2{
    display: flex;
    left: 0;
    background: var(--background);
    width: 30vw;
    .chat__sidebar{
      width: 100%;
      outline: 2px solid var(--background-light);
    }
  }
  .topbar{
    display: flex;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .location{
    position: fixed;
    top: 10px;
    right: 10px;
    img{
      height: 50px;
      width: 50px;
    }
  }
}